/* Large Device Layout wide:  1200px. */
@media only screen and (max-width: 1200px) {
}

/* Tablet Layout wide: 991px. */
@media only screen and (max-width: 991px) {
  .single-search-item {
    flex-wrap: wrap;
    justify-content: start;
    .img-box {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .search-section .mobile-none {
    display: none;
  }
}

/* Tablet Layout wide: 668px. */

@media only screen and (max-width: 668px) {
  .hero-area.with-search {
    padding-bottom: 120px;
    padding: 120px 0;
    padding-bottom: 55px;
  }
}

/* Small Device Layout wide: 480px. */

@media only screen and (max-width: 480px) {
  .search-section .pagination-box li {
    margin: 0 5px;
  }
}

/* Small Device Layout wide: 420px. */

@media only screen and (max-width: 420px) {
  .single-search-item {
    .btn-group {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .single-search-item .content .btn-group li {
    margin: 5px;
  }

  .single-search-item .content .btn-group .btn-style-one {
    height: 34px;
  }
  .search-section .right-side-content .all-books .top-content .top-title {
    font-size: 28px;
  }
  .search-section
    .right-side-content
    .all-books
    .top-content
    .top-title
    .items {
    font-size: 20px;
  }
}

/* Mobile Device Layout wide: 340px. */

@media only screen and (max-width: 340px) {
  .search-section .right-side-content .all-books .top-content .top-title {
    font-size: 22px;
  }
  .search-section
    .right-side-content
    .all-books
    .top-content
    .top-title
    .items {
    font-size: 14px;
    margin-left: 10px;
  }
}
