.single-book-item {
  width: 23%;
  margin-bottom: 32px;
  max-width: 220px;

  .img-box {
    position: relative;

    .fav {
      position: absolute;
      right: 4%;
      top: 4%;
      height: 36px;
      width: 36px;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active,
      &:hover {
        background-color: $color-hover;
        color: $color-white;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      min-height: 50px;
      margin: 16px 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: #231f1e;
    }

    .des {
      li {
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: rgb(142, 147, 156);
        margin-bottom: 5px;

        span {
          color: rgb(68, 65, 64);
        }
      }
    }

    .btn-style-one {
      color: #231f1e;
      border-color: #231f1e;
      font-size: 16px;
      padding: 12px 50px;
      font-weight: 500;

      &:hover {
        border-color: $color-hover;
        color: $color-white;
      }
    }
  }
}