.hero-area {
  padding-top: 227px;
  padding-bottom: 203px;
  &.hero-style-two {
    padding-top: 115px;
    padding-bottom: 155px;
  }
  &.with-search {
    padding: 175px 0;
  }

  .hero-content {
    .hero-subtitle {
      font-family: $font-play;
      font-style: italic;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      color: $color-white;
    }
    .hero-title {
      margin-bottom: 25px;
    }
    .hero-text {
      max-width: 827px;
      margin: auto;
    }
  }
}
