.magazine-item {
  width: 23%;
  margin-bottom: 15px;
  background-color: $color-white;
  padding: 16px 10px;
  border: 1px solid #ededed;
  .content {
    .mag-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: #231f1e;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 135%;
      margin-bottom: 30px;
      color: #7a808a;
      opacity: 0.85;
      span {
        opacity: 100;
        color: #231f1e;
        font-weight: 600;
      }
    }
    .btn-style-one {
      display: inline-block;
      width: 100%;
      background-color: transparent;
      text-align: center;
      color: #231f1e;
      border-color: #231f1e;
      padding: 12px 0;
      &:hover {
        border-color: $color-hover;
        color: $color-white;
        background-color: $color-hover;
      }
    }
  }
}
